/* Dashboard.css */
.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.list-group-item {
    padding: 15px 20px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
